<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Crops</span>
        <div flex></div>
        <div flex>
            <md-autocomplete  md-no-cache="vm.noCache" md-selected-item="vm.selectedCrop" md-search-text-change="vm.searchCropChange(vm.searchCrop)" md-search-text="vm.searchCrop" md-selected-item-change="vm.selectedCropChange(item)" md-items="item in vm.queryCropSearch(vm.searchCrop)" md-item-text="item.value" md-min-length="0" placeholder="Search Crop">
                <md-item-template>
                    <span md-highlight-text="vm.searchCrop" md-highlight-flags="^i">{{item.value}}</span>
                </md-item-template>
                <md-not-found>
                    No crop matching "{{vm.searchCrop}}" were found.
                    
                </md-not-found>
            </md-autocomplete>
        </div>
    </div>
</md-toolbar>
<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-progress="vm.promise">
        <thead md-head>
            <tr md-row>
                <th md-column>Name</th>
                <th md-column>Description</th>
                <th md-column>Edit</th>
                           </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="crop in  vm.crops.crops">
                <td md-cell>{{crop.Name}}</td>
                <td md-cell>{{crop.Description}}</td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="vm.openEdit($event,crop._id)">
                        <md-icon>edit</md-icon>
                    </md-button>
                </td>
                <!-- <td md-cell>{{crop.District}}</td>
        
        <td md-cell>{{crop.Season}}</td>
        <td md-cell>{{crop.Area}}</td>
        <td md-cell>{{crop.Production}}</td>
        -->
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 25, 50]" md-page="vm.query.page" md-total="{{vm.crops.total}}" md-on-paginate="vm.getCrops" md-page-select></md-table-pagination>
