﻿<div layout="row" layout-padding layout-wrap layout-fill>
    <md-toolbar class="md-green">
        <div class="md-toolbar-tools">
            <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedsearchState" md-search-text-change="vm.searchStateChange(vm.searchState)" md-search-text="vm.searchState" md-selected-item-change="vm.selectedStateChange(item)" md-items="item in vm.queryStateSearch(vm.searchState)" md-item-text="item.value" md-min-length="0" placeholder="Search State">
                <md-item-template>
                    <span md-highlight-text="vm.searchState" md-highlight-flags="^i">{{item.value}}</span>
                </md-item-template>
                <md-not-found>
                    No State matching "{{vm.searchState}}" were found.
                </md-not-found>
            </md-autocomplete>
            <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedDistrict" md-search-text-change="vm.searchDistrictChange(vm.searchDistrict)" md-search-text="vm.searchDistrict" md-selected-item-change="vm.selectedDistrictChange(item)" md-items="item in vm.queryDistrictSearch(vm.searchDistrict)" md-item-text="item.value" md-min-length="0" placeholder="Search District" style="margin-left:5px;">
                <md-item-template>
                    <span md-highlight-text="vm.searchDistrict" md-highlight-flags="^i">{{item.value}}</span>
                </md-item-template>
                <md-not-found>
                    No District matching "{{vm.searchDistrict}}" were found.
                </md-not-found>
            </md-autocomplete>
            <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedCrop" md-search-text-change="vm.searchCropChange(vm.searchCrop)" md-search-text="vm.searchCrop" md-selected-item-change="vm.selectedCropChange(item)" md-items="item in vm.queryCropSearch(vm.searchCrop)" md-item-text="item.value" md-min-length="0" placeholder="Search Crop" style="margin-left:5px;">
                <md-item-template>
                    <span md-highlight-text="vm.searchCrop" md-highlight-flags="^i">{{item.value}}</span>
                </md-item-template>
                <md-not-found>
                    No crop matching "{{vm.searchCrop}}" were found.
                </md-not-found>
            </md-autocomplete>
        </div>
    </md-toolbar>
</div>
<md-table-container>
    <table md-table md-progress="vm.promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="vm.getIndustries">
            <tr md-row>
                <th md-column md-order-by="Name">Name</th>
                <th md-column>Description</th>
                <th md-column>Crop</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="industry in  vm.industries.industries">
                <td md-cell>{{industry.Name}}</td>
                <td md-cell>{{industry.Description}}</td>
                <td md-cell>
                    <md-button class="md-icon-button" ng-click="vm.openCropDialog($event,industry.CropIds)">
                        <md-icon>view_list</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 25, 50]" md-page="vm.query.page" md-total="{{vm.industries.total}}" md-on-paginate="vm.getIndustries" md-page-select></md-table-pagination>
