﻿<div layout="row" layout-padding layout-wrap layout-fill>
    <div class="md-toolbar-tools" layout-padding>
        <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedCrop" md-search-text-change="vm.searchCropChange(vm.searchCrop)" md-search-text="vm.searchCrop" md-selected-item-change="vm.selectedCropChange(item)" md-items="item in vm.queryCropSearch(vm.searchCrop)" md-item-text="item.value" md-min-length="0" placeholder="Search Crop">
            <md-item-template>
                <span md-highlight-text="vm.searchCrop" md-highlight-flags="^i">{{item.value}}</span>
            </md-item-template>
            <md-not-found>
                No crop matching "{{vm.searchCrop}}" were found.
            </md-not-found>
        </md-autocomplete>
        <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedState" md-search-text-change="vm.searchStateChange(vm.searchState)" md-search-text="vm.searchState" md-selected-item-change="vm.selectedStateChange(item)" md-items="item in vm.queryStateSearch(vm.searchState)" md-item-text="item.value" md-min-length="0" placeholder="Search State">
            <md-item-template>
                <span md-highlight-text="vm.searchState" md-highlight-flags="^i">{{item.value}}</span>
            </md-item-template>
            <md-not-found>
                No State matching "{{vm.searchState}}" were found.
            </md-not-found>
        </md-autocomplete>
        <md-chips ng-model="vm.selectedDistricts" class="md-block" flex-gt-sm md-autocomplete-snap="" md-transform-chip="vm.transformChip($chip)" md-require-match="true" md-on-remove="vm.onDistrictRemove()" md-on-add="vm.onDistrictAdd()">
            <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedDistrict" md-search-text-change="vm.searchDistrictChange(vm.searchDistrict)" md-search-text="vm.searchDistrict" md-selected-item-change="vm.selectedDistrictChange(item)" md-items="item in vm.queryDistrictSearch(vm.searchDistrict)" md-item-text="item.value" md-min-length="0" placeholder="Search District">
                <md-item-template>
                    <span md-highlight-text="vm.searchDistrict" md-highlight-flags="^i">{{item.value}}</span>
                </md-item-template>
                <md-not-found>
                    No District matching "{{vm.searchDistrict}}" were found.
                </md-not-found>
            </md-autocomplete>
            <md-chip-template>
                <span>
                        <strong>{{$chip.value}}</strong>
                    </span>
            </md-chip-template>
        </md-chips>
    </div>
    </md-toolbar>
    <div flex>
        <md-card>
            <md-card-content>
                <div google-chart chart="vm.production" class="graph"></div>
            </md-card-content>
        </md-card>
    </div>
</div>
