﻿<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>District Wise Production</span>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table   md-progress="vm.promise">
    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getDistrictCrop">
      <tr md-row>
        <th md-column md-numeric md-order-by="Year">Year</th>
        <th md-column md-order-by="State">State</th>
        <th md-column md-order-by="District">District</th>
        <th md-column md-order-by="Crop" >Crop</th>
        <th md-column md-order-by="Season">Season</th>
        <th md-column md-order-by="Area">Area</th>
        <th md-column md-order-by="Production">Production</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row  ng-repeat="crop in  vm.districtCrop.crops">
        <td md-cell>{{crop.Year}}</td>
        <td md-cell>{{crop.State}}</td>
        <td md-cell>{{crop.District}}</td>
        <td md-cell>{{crop.Crop}}</td>
        <td md-cell>{{crop.Season}}</td>
        <td md-cell>{{crop.Area}}</td>
        <td md-cell>{{crop.Production}}</td>
       
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="vm.query.limit" md-limit-options="[25, 50, 100]" md-page="vm.query.page" md-total="{{vm.districtCrop.total}}" md-on-paginate="vm.getDistrictCrop" md-page-select></md-table-pagination>