<md-dialog aria-label="Edit Crop" ng-cloak>
    <form name="editCropForm" ng-submit="vm.update()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Crops</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-show="vm.showProgress"></md-progress-linear>
        <div class="success-msg" ng-show="vm.msgShow">{{vm.responseMsg}}
        </div>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 400px">
                <md-list flex>
                    <!-- <md-subheader class="md-no-sticky"></md-subheader> -->
                    <md-list-item class="md-2-line" ng-repeat="item in vm.items" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.Name }}</h3>
                            <p>{{ item.Description }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="button" class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
