﻿<md-content>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Industries</span>
            <div flex></div>
            <div flex>
                <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedIndustry" md-search-text-change="vm.searchIndustryChange(vm.searchIndustry)" md-search-text="vm.searchIndustry" md-selected-item-change="vm.selectedIndustryChange(item)" md-items="item in vm.queryIndustrySearch(vm.searchIndustry)" md-item-text="item.value" md-min-length="0" placeholder="Search Industry">
                    <md-item-template>
                        <span md-highlight-text="vm.searchIndustry" md-highlight-flags="^i">{{item.value}}</span>
                    </md-item-template>
                    <md-not-found>
                        No Industry matching "{{vm.searchIndustry}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </div>
    </md-toolbar>
    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table md-progress="vm.promise">
            <thead md-head>
                <tr md-row>
                    <th md-column>Name</th>
                    <th md-column>Description</th>
                    <th md-column>Edit</th>
                    <!-- <th md-column md-order-by="District">District</th>
        <th md-column md-order-by="Industry" >Industry</th>
        <th md-column md-order-by="Season">Season</th>
        <th md-column md-order-by="Area">Area</th>
        <th md-column md-order-by="Production">Production</th> -->
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="item in  vm.industries.industries">
                    <td md-cell>{{item.Name}}</td>
                    <td md-cell>{{item.Description}}</td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="vm.openEdit($event,item._id)">
                            <md-icon>edit</md-icon>
                        </md-button>
                    </td>
                    <!-- <td md-cell>{{Industry.District}}</td>
        
        <td md-cell>{{Industry.Season}}</td>
        <td md-cell>{{Industry.Area}}</td>
        <td md-cell>{{Industry.Production}}</td>
        -->
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 25, 50]" md-page="vm.query.page" md-total="{{vm.industries.total}}" md-on-paginate="vm.getIndustries" md-page-select></md-table-pagination>
</md-content>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="vm.openCreate()">
    <md-icon>add</md-icon>
</md-button>
