<div layout-fill>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" hide-gt-sm ng-click="vm.toggleLeft()">
                <md-icon> menu</md-icon>
            </md-button>
            <h2>
          <span>Digital India</span>
        </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <div>
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4" style="height:100%">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Agro</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <md-sidemenu>
                        <md-sidemenu-group>
                            <md-subheader class="md-no-sticky">Control Panel</md-subheader>
                            <md-sidemenu-button href="#/district/inbox">District</md-sidemenu-button>
                            <md-sidemenu-button href="#/industry/inbox">Industry</md-sidemenu-button>
                            <md-sidemenu-button href="#/crop/inbox">Crop</md-sidemenu-button>
                        </md-sidemenu-group>
                    </md-sidemenu>
                </md-content>
            </md-sidenav>
        </div>
        <div flex layout-padding layout="column">
            <div layout="column" ui-view="adminContent"></div>
        </div>
    </div>
</div>
