<md-dialog aria-label="Edit Crop" ng-cloak>
    <form name="editCropForm" ng-submit="vm.update()" >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-show="vm.showProgress"></md-progress-linear>
         <div class="success-msg" ng-show="vm.msgShow">{{vm.responseMsg}}
                </div>
        <md-dialog-content>
        
            <div class="md-dialog-content" style="width: 400px">
                <div  class="space">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name</label>
                        <input required type="text" name="name" ng-model="vm.crop.Name">
                        <div ng-messages="editCropForm.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Weather</label>
                        <input required type="text" name="weather" ng-model="vm.crop.Weather">
                        <div ng-messages="editCropForm.weather.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Soil</label>
                        <input required type="text" name="soil" ng-model="vm.crop.Soil">
                        <div ng-messages="editCropForm.soil.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <textarea required type="text" name="description" ng-model="vm.crop.Description"></textarea>
                        <div ng-messages="editCropForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="success-msg" ng-show="vm.msgShow">{{vm.responseMsg}}
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            
            <md-button type="button" class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="editCropForm.$invalid || vm.editDisabled">Edit Done</md-button>
            <!-- <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button> -->
        </md-dialog-actions>
    </form>
</md-dialog>
