<md-dialog aria-label="Edit industry" ng-cloak>
    <form name="createIndustryForm" ng-submit="vm.create(industry)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Industry</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear class="md-warn" md-mode="indeterminate" ng-show="vm.showProgress"></md-progress-linear>
        <div class="success-msg" ng-show="vm.msgShow">{{vm.responseMsg}}
        </div>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 400px">
                <div class="space">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name</label>
                        <input required type="text" name="name" ng-model="industry.Name">
                        <div ng-messages="createIndustryForm.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-chips ng-model="vm.selectedCrops" class="md-block" flex-gt-sm md-autocomplete-snap="" md-transform-chip="vm.transformChip($chip)" md-require-match="true">
                        <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedCrop" md-search-text="vm.searchCrop" md-items="item in vm.queryCropSearch(vm.searchCrop)" md-item-text="item.value" md-min-length="0" placeholder="Add crops" >
                            <md-item-template>
                                <span md-highlight-text="vm.searchCrop" md-highlight-flags="^i">{{item.value}}</span>
                            </md-item-template>
                            <md-not-found>
                                No crop matching "{{vm.searchCrop}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                     <strong>{{$chip.value}}</strong>
                            </span>
                        </md-chip-template>
                    </md-chips>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <textarea required type="text" name="description" ng-model="industry.Description"></textarea>
                        <div ng-messages="createIndustryForm.description.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="success-msg" ng-show="vm.msgShow">{{vm.responseMsg}}
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="button" class="md-default md-raised" ng-click="vm.cancel()">Close</md-button>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="createIndustryForm.$invalid || vm.submitDisabled">Create</md-button>
            <!-- <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button> -->
        </md-dialog-actions>
    </form>
</md-dialog>
