﻿<div layout="column">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Districts</span>
            <div flex></div>
            <div flex>
                <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedDistrict" md-search-text-change="vm.searchDistrictChange(vm.searchDistrict)" md-search-text="vm.searchDistrict" md-selected-item-change="vm.selectedDistrictChange(item)" md-items="item in vm.queryDistrictSearch(vm.searchDistrict)" md-item-text="item.value" md-min-length="0" placeholder="Search District">
                    <md-item-template>
                        <span md-highlight-text="vm.searchDistrict" md-highlight-flags="^i">{{item.value}}</span>
                    </md-item-template>
                    <md-not-found>
                        No District matching "{{vm.searchDistrict}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </div>
    </md-toolbar>
    <!-- exact table from live demo -->
    <md-table-container>
        <table md-table md-progress="vm.promise">
            <thead md-head md-order="vm.query.order" md-on-reorder="vm.getDistricts">
                <tr md-row>
                    <th md-column md-order-by="Name">Name</th>
                    <th md-column >State</th>
                    <th md-column>Description</th>
                    <th md-column>Edit</th>
                    <th md-column>View Crop</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="item in  vm.districts.districts">
                    <td md-cell>{{item.Name}}</td>
                    <td md-cell>{{item.StateId.Name}}</td>
                    <td md-cell>{{item.Description}}</td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="vm.openEdit($event,item._id)">
                            <md-icon>edit</md-icon>
                        </md-button>
                    </td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="vm.showCrops($event,item.CropIds)">
                            <md-icon>view_list</md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[10, 25, 50]" md-page="vm.query.page" md-total="{{vm.districts.total}}" md-on-paginate="vm.getDistricts" md-page-select></md-table-pagination>
</div>
<!-- <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="vm.openCreate()">
    <md-icon>add</md-icon>
</md-button> -->
