﻿<div layout="row" layout-padding layout-wrap layout-fill>

    <div class="md-toolbar-tools" layout-padding>
        <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedsearchState" md-search-text-change="vm.searchStateChange(vm.searchState)" md-search-text="vm.searchState" md-selected-item-change="vm.selectedStateChange(item)" md-items="item in vm.queryStateSearch(vm.searchState)" md-item-text="item.value" md-min-length="0" placeholder="Search State">
            <md-item-template>
                <span md-highlight-text="vm.searchState" md-highlight-flags="^i">{{item.value}}</span>
            </md-item-template>
            <md-not-found>
                No State matching "{{vm.searchState}}" were found.
            </md-not-found>
        </md-autocomplete>
        <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedDistrict" md-search-text-change="vm.searchDistrictChange(vm.searchDistrict)" md-search-text="vm.searchDistrict" md-selected-item-change="vm.selectedDistrictChange(item)" md-items="item in vm.queryDistrictSearch(vm.searchDistrict)" md-item-text="item.value" md-min-length="0" placeholder="Search District">
            <md-item-template>
                <span md-highlight-text="vm.searchDistrict" md-highlight-flags="^i">{{item.value}}</span>
            </md-item-template>
            <md-not-found>
                No District matching "{{vm.searchDistrict}}" were found.
            </md-not-found>
        </md-autocomplete>
        <md-autocomplete md-no-cache="vm.noCache" md-selected-item="vm.selectedYear" md-search-text-change="vm.searchYearChange(vm.searchYear)" md-search-text="vm.searchYear" md-selected-item-change="vm.selectedYearChange(item)" md-items="item in vm.queryYearSearch(vm.searchYear)" md-item-text="item.value" md-min-length="0" placeholder="Search Year">
            <md-item-template>
                <span md-highlight-text="vm.searchYear" md-highlight-flags="^i">{{item.value}}</span>
            </md-item-template>
            <md-not-found>
                No Year matching "{{vm.searchYear}}" were found.
            </md-not-found>
        </md-autocomplete>
    </div>
    <div flex-gt-xs="50">
        <md-card>
            <md-card-content>
                <div google-chart chart="vm.production" class="graph"></div>
            </md-card-content>
        </md-card>
    </div>
    <div flex-gt-xs="50">
        <md-card>
            <md-card-content>
                <div google-chart chart="vm.area" class="graph"></div>
            </md-card-content>
        </md-card>
    </div>
</div>
