<md-dialog aria-label="Create Payer"  ng-cloak>
  <form name="forgotPasswordForm" ng-submit="forgotPassword()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reset Your Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" ng-show="!Msgshow">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" style="width: 400px">
       
                        <div layout-gt-sm="row" class="space">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Enter Email Id</label>
                                <input required type="email" name="email" ng-model="EmailId">
                                <div ng-messages="forgotPasswordForm.email.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                          <div class="success-msg" ng-show="Msgshow">{{Confirmmsg}}</div>			
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">   
      <span flex></span>

       <md-button type="submit" class="md-primary md-raised" ng-show="!Msgshow" ng-disabled="forgotPasswordForm.$invalid">Reset Password</md-button>
        <md-button type="submit" class="md-primary md-raised" ng-show="Msgshow" ng-click="cancel()">Close</md-button>
      <!-- <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button> -->
    </md-dialog-actions>

  </form>
</md-dialog>