﻿<div layout="column" flex id="content" role="main">
    <div layout="row" layout-align="center center" layout-fill style="min-height: 500px">
                       
        <md-whiteframe class="md-whiteframe-z1" layout="column" flex-xs="90" flex-sm="66" flex-gt-sm="33" layout-padding>
            <md-content layout-padding>
                <div>
                    <form name="userForm" ng-animate="'box'" ng-submit="vm.signIn(user,userForm.$valid)">
                   
                        <md-input-container class="md-block">
                            <label>Email Id</label>
                            <input type="email" required ng-pattern="/^.+@.+\..+$/" name="email" ng-model="user.username">
                            <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                                <div ng-message="required"><span style="font-size: 12px">This is required
                                </span></div>
                                <div ng-message="pattern">
                                    <span  style="font-size: 12px"> Invalid Email-Id</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input ng-model="user.password" type="password" name="password" required>
                            <div ng-messages="userForm.password.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" style="margin-top: 0px">
                            <div layout=row layout-xs="column">
                            <div flex="10"></div>
                               <div flex>
                                 <md-checkbox style="margin-bottom: 0px" ng-model="stayLoggedIn">
                                 <span class="remember-me-text">Remember Me</span>
                                 </md-checkbox>
                                 </div>
                                 <div flex>
                                <a ng-click="vm.openForgotPassword()"> <span class="forget-password-text">Forgot Passowd?</span></a>
                             </div>
                             <div flex="10"></div>
                            </div>

                            <div layout="row" layout-xs="column" layout-align="center center">
                                <md-button class="md-raised md-primary" flex flex-gt-xs="80" type="submit">Login</md-button>         
                            </div>
                            <div layout=row layout-xs="column">
                                 <div flex="10"></div>
                                 <div flex="80">
                                    <div ng-show="vm.Loginfailed">
                                        <div class="error">{{vm.Errormsg}} </div>
                                    </div>
                                 </div>
                                 <div flex="10"></div>
                            </div>
                        </md-input-container>
                    </form>
                </div>
            </md-content>
        </md-whiteframe>
    </div>
</div>